---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: string;
}

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose prose-lg mx-auto max-w-3xl">
    {
      heroImage && (
        <figure>
          <img src={heroImage} alt={title} class="rounded-xl w-full" />
        </figure>
      )
    }
    <h1>{title}</h1>
    <div class="text-sm text-base-content/60 mb-8">
      <time datetime={pubDate.toISOString()}>
        {
          pubDate.toLocaleDateString("zh-Hant", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
      {
        updatedDate && (
          <span>
            （更新於{" "}
            <time datetime={updatedDate.toISOString()}>
              {updatedDate.toLocaleDateString("zh-Hant", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
            ）
          </span>
        )
      }
    </div>
    <slot />
  </article>
</BaseLayout>
